env/
__pycache__/
*.pt
*.pth
*.ckpt
*.png
*.jpg
*.zip
.ipynb_checkpoints/
data/
results/
*.log
env/
__pycache__/

data/xbd/
data/xbd_full/

checkpoints/
logs/

*.pt
*.pth

*.tar.gz
*.tgz

results/*.png